{% extends "./admin/base.html" %}
{% block content %}
<div class="container">
    <h2 style="margin-top: 40px;">Add Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6 offset-md-0">
                <div class="form-group">
                    {{ form.product_name.label(class="form-control-label") }}
                    {{ form.product_name(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {{ form.description(class="form-control form-control-lg") }}
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    {{ form.image.label(class="form-control-label") }}
                    {{ form.image(class="form-control-file") }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label(class="form-control-label") }}
                    {{ form.quantity(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.regular_price.label(class="form-control-label") }}
                    {{ form.regular_price(class="form-control form-control-lg") }}
                </div>

            </div>

            <div class="col-md-6 offset-md-0">
                <div class="form-group">
                    {{ form.discounted_price.label(class="form-control-label") }}
                    {{ form.discounted_price(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.product_rating.label(class="form-control-label") }}
                    {{ form.product_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.product_review.label(class="form-control-label") }}
                    {{ form.product_review(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-lg">Add Product</button>
            </div>

    </form>
</div>
</div>
{% endblock %}