{% extends "./admin/base.html" %}
{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header"
                    style="background-color:#009879; display: flex; justify-content: space-between; " ">
                    <h6 class=" m-0 font-weight-bold" style="color:white">All Users</h6>
                    <i class="fa-solid fa-user-plus  plus-icon" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{user.fname}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.role}}</td>
                                <td>
                                    <a href="{{ url_for('views.edit_user', userid=user.userid) }}"
                                        class="btn btn-primary">Edit</a>
                                </td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-header"
                    style="background-color:#009879; display: flex; justify-content: space-between; ">
                    <h6 class="m-0 font-weight-bold" style="color:white; ">All Roles</h6>
                    <a href="{{url_for('views.products')}}">
                        <i class="fa fa-plus" aria-hidden="true" style="color: white;"></i>
                    </a>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}