{% extends "./admin/base.html" %}
{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
    <a style="margin-top:  40px;" href="{{url_for('views.add_product')}}"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Add Staff
    </a>
</div>

<div class="small-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a href="{{ url_for('views.edit_user', userid=user.userid) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor%}
            <!-- and so on... -->
        </tbody>
    </table>

</div>
{%endblock%}