{% extends "./admin/base.html" %}
{% block content %}
  <h1>Products</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Regular Price</th>
        <th>Discounted Price</th>
        <th>Product Rating</th>
        <th>Product Review</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.product_name }}</td>
          <td>{{ product.description }}</td>
          <td><img src="{{ url_for('static', filename='/uploads/' + product.image) }}" alt="{{ product.product_name }}" height="100"></td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.regular_price }}</td>
          <td>{{ product.discounted_price }}</td>
          <td>{{ product.product_rating }}</td>
          <td>{{ product.product_review }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
