{% extends "./admin/base.html" %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Products</h1>
  <a style="margin-top:  40px;" href="{{url_for('views.add_product')}}"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Add Products</a>
</div>


<table class="styled-table">
  <thead class="thead-dark">
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Regular Price</th>
      <th>Discounted Price</th>
      <th>Product Rating</th>
      <th>Product Review</th>
      <th>Edit Product</th>
      <th>Delete Product</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products.items %}
    <tr>
      <td>{{ product.product_name }}</td>
      <td>{{ product.description }}</td>
      <td><img src="{{ url_for('static', filename='/uploads/' + product.image) }}" alt="{{ product.product_name }}"
          height="50" width="50"></td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.regular_price }}</td>
      <td>{{ product.discounted_price }}</td>
      <td>{{ product.product_rating }}</td>
      <td>{{ product.product_review }}</td>
      <td>
        <a href="{{ url_for('views.edit_product', productid=product.productid) }}" class="btn btn-primary">Edit</a>
      </td>
      <td>
        <a href="{{ url_for('views.delete_product', productid=product.productid) }}" class="btn btn-danger">Delete</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>


<div class="page-btn">
  {% if products.has_prev %}
    <a href="{{ url_for('views.view', page=products.prev_num) }}" class="btn">&#8592;</a>
  {% endif %}
  {% for num in products.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
    {% if num %}
      {% if num != products.page %}
        <a href="{{ url_for('views.view', page=num) }}" class="btn">{{ num }}</a>
      {% else %}
        <span class="btn active">{{ num }}</span>
      {% endif %}
    {% else %}
      <span class="ellipsis">&#8230;</span>
    {% endif %}
  {% endfor %}
  {% if products.has_next %}
    <a href="{{ url_for('views.view', page=products.next_num) }}" class="btn">&#8594;</a>
  {% endif %}
</div>>

{% endblock %}