<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopIT</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{{url_for('views.home')}}"><img src="/static/images/new_logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{{url_for('views.home')}}">Home</a></li>
                    <li><a href="{{url_for('views.products')}}">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html"><img src="/static/images/cart.png" width="30px" height="30px"></a>
            <img src="images/menu.png" onclick="menutoggle()" class="menu-icon">
        </div>

    </div>
    <!--------------Cart Items details--------------->
    <div class="small-container cart-page">
        <div class="container">
            {% if session.cart %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in session.cart %}
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="{{ url_for('static', filename='/uploads/' + item.link) }}">
                                <div>
                                    <p>{{item.name}}</p>
                                    <small>{{item.description}}</small><br>
                                    <a href="">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{item.quantity* item.price}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>${{subtotal}}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>${{vat}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>${{total}}</td>
                    </tr>

                </table>
            </div>

            {% else %}
            <p>Your cart is empty</p>
            {% endif %}
        </div>

        <div class="total-price">
            <a href="{{url_for('views.checkout')}}" class="btn">Proceed to checkout &#8594;</a>
        </div>

    </div>

    <!----------Footer--------------->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col2">
                    <img src="images/logo-white.png">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter
                        <li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2023 Edwin Rimui</p>
        </div>

    </div>



    <!-------------js for toggle menu-------------->

    <script>

        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px"
            }
        }


    </script>



</body>

</html>