{% extends "base.html" %}
{% block content%}
<!--------------Odrer  Items details--------------->
<div class="container">
    <form method="POST" action="/checkout">
        <div class="row">
            <div class="col-4">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.shipping_address.label }}
                    {{ form.shipping_address(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.billing_address .label }}
                    {{ form.billing_address(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
            <div class="col-4">
                <div class="form-group">
                    {{ form.card_number.label }}
                    {{ form.card_number(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.card_cvv.label }}
                    {{ form.card_cvv(class="form-control") }}
                </div>
            </div>

            <div class="col-4">
                <h3>Cart Items</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in session.cart %}
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <div>
                                        <p>{{item.name}}</p>
                                        <small>{{item.description}}</small><br>
                                    </div>
                                </div>
                            </td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{item.quantity* item.price}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>${{subtotal}}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>${{vat}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>${{total}}</td>
                        </tr>

                    </table>
                </div>
            </div>




        </div>
    </form>
</div>

{%endblock%}