{% extends "base.html" %}
{% block content%}
<!--------------single-product--------------->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ url_for('static', filename='/uploads/' + product.image) }}"
                alt="{{ product.product_name }}"></a>

        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>{{product.product_name}}</h1>
            <h4> ${{product.discounted_price}}</h4>
            <a href="{{url_for('views.add_to_cart', productid=product.productid)}}" class="btn">Add To Cart</a>
            <h3>PRODUCT DETAILS <i class="fa fa-indent"></i></h3>
            <br>
            <p>Give your summer wardrobe a style upgrade with the HRX Men's Active T-shirt. Team it with a pair of
                shorts for your morning workout or a denims for an evening out with the guys.</p>
        </div>
    </div>
</div>

{%endblock%}